.search-result {
    list-style: none;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    overflow-y: auto;
    max-height: 500px;
    padding: 0;
    text-align: center;
    li {
        margin-bottom: 10px;
    }
}